language: php

php:
  - '7.0'
  - '7.1'
  - '7.2'

addons:
  code_climate:
    repo_token:

install: composer install --no-interaction --prefer-dist --no-suggest --optimize-autoloader

script: vendor/bin/phpunit

after_success: vendor/bin/test-reporter

notifications:
  email:
    on_success: never
    on_failure: always
